body{
   background-color: rgb(4,65,49);


}
#head{
position:absolute;
    z-index: 2;
    width: 80%;
    height: 33%;
top:10%;
    left:9.5%;
}
#head1{
    width: 90%;
    height: 80%;

}
#hand{
    position: absolute;
    width: 20%;
    height: 33%;
    z-index: 3;
    left:80%;
    top:0.5%;

}
#hand1{
    width: 100%;
    height: 100%;
}
#mein{
    position: absolute;
    display: flex;
    width:80%;
    left:10%;
    top:40%;
z-index: 4;
   flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;


}

#block1{
    width: 300px;
    height: 150px;
    margin:5px;
    padding: 12px;
    background-color: rgb(91, 130, 116);
    border: 2px solid saddlebrown;
transition: all 1s;
}
#block1:hover{
    background-color: rgb(71, 115, 85);
    transform: scale(1.2);

}
#block2{

    width: 300px;
    height: 150px;
    margin:5px;
    padding: 12px;
    background-color: rgb(91, 130, 116);
    border: 2px solid white;
    transition: all 1s;
}
#block2:hover{
    background-color: rgb(71, 115, 85);
    transform: scale(1.2);

}

#block3{
    width: 300px;
    height: 150px;
    margin:5px;
    padding: 12px;
    border: 2px solid saddlebrown;
    transition: all 1s;
    background-color: rgb(91, 130, 116);
}
#block3:hover{
    background-color: rgb(71, 115, 85);
    transform: scale(1.2);
}

#block4{
    width: 300px;
    height: 150px;
    margin:5px;
    padding: 12px;
    border: 2px solid white;
    transition: all 1s;
    background-color: rgb(91, 130, 116);
}
#block4:hover{
    background-color: rgb(71, 115, 85);
    transform: scale(1.2);
}
#fon1{
    width:98%;
}
#grad, #grad3{
    position: relative;
    opacity:0.25;
    z-index: 8;
    background-color: rgb(114, 135, 122);
    width: 318px;
    height: 170px;
    bottom:97%;
    right: 8px;
}
#grad:hover{
    opacity: 0;
}
#grad3:hover{
    opacity: 0;
}
p
{ position: relative;
    z-index: 7;
    text-align: center;
    font-size: 40px;
    color:white;
    bottom:234%;
    font-weight: bold;
   font-family :"Comic Sans MS";

}
#fon2{
    width:80%;


}


